body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-style: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.check {
  color: green;
}
.times {
  color: red;
}

.yiyi {
  list-style: none;
}

.navi {
  font-style: 14px;
  text-transform: uppercase;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url(../img/ff.jpg);
  background-size: cover;
  max-height: 500px;
}
.carousel-image-2 {
  background: url(../img/img2.jpg);
  background-size: cover;
  max-height: 3000px;
}
.carousel-image-3 {
  background: url(../img/scott-webb-22536-unsplash.jpg);
  background-size: cover;
  max-height: 500px;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url(../img/lights.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/label.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}

/*CREATE FORM*/
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}
.btn-google {
  background-color: red;
  color: #fff;
}

.card-login {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: rgb(22, 22, 22);
  cursor: pointer;
}

.card-header-y h3 {
  color: black;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

input:focus {
  outline: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: black;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.links {
  color: black;
}

.links a {
  margin-left: 4px;
}
